@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
	/* System Colors */
	--color-background: #0a0a0c;
	--color-foreground: #e2e8f0;

	/* Retro Palette */
	--color-primary: #99ff06; /* Neon Green Terminal */
	--color-primary-foreground: #000000;
	--color-win-bg: #c0c0c0; /* Classic Grey Windows 95 */
	--color-win-blue: #000080; /* Classic Navy Title Bar */

	/* Shadows & Borders */
	--shadow-win: 4px 4px 0px 0px rgba(0, 0, 0, 1);
	--radius-none: 0;
}

@layer base {
	:root {
		font-family: "JetBrains Mono", "Fira Code", monospace;
		color-scheme: dark;
	}

	body {
		@apply bg-background text-foreground antialiased selection:bg-primary selection:text-black;
		/* Subtle Scanline Effect - Khas Monitor Tabung */
		background-image:
			linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
			linear-gradient(
				90deg,
				rgba(255, 0, 0, 0.06),
				rgba(0, 255, 0, 0.02),
				rgba(0, 0, 255, 0.06)
			);
		background-size:
			100% 4px,
			3px 100%;
	}
}

@layer components {
	/* Efek Border Windows 95 Outset (Timbul) */
	.win95-outset {
		@apply border-2 border-white border-r-slate-800 border-b-slate-800 bg-win-bg;
	}

	/* Efek Border Windows 95 Inset (Tenggelam - untuk Input) */
	.win95-inset {
		@apply border-2 border-slate-800 border-t-slate-400 border-l-slate-400 bg-white;
	}

	/* Judul Section ala Terminal */
	.section-heading {
		@apply font-mono font-bold text-2xl uppercase tracking-tighter text-primary;
		text-shadow: 0 0 8px rgba(153, 255, 6, 0.5);
	}

	.terminal-card {
		@apply bg-black/80 border border-white/10 backdrop-blur-sm rounded-md overflow-hidden;
	}
}

/* Custom Scrollbar ala Retro */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	@apply bg-win-bg border-l border-slate-400;
}
::-webkit-scrollbar-thumb {
	@apply bg-win-bg border-2 border-white border-r-slate-800 border-b-slate-800;
}

/* Animasi untuk efek Terminal */
@keyframes blink {
	50% {
		opacity: 0;
	}
}
.animate-cursor {
	animation: blink 1s step-end infinite;
}
